@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sankofa+Display&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sankofa+Display&display=swap');

.ink{
  text-decoration: none;
  margin-left: 10em;
  color:#888888;
  font:15px Montserrat, sans-serif;
}
.royal{
  color:black;
  margin-left: 10em;
  text-decoration: none;
  font:15px Poppins, sans-serif;
}
@media (max-width:800px){
  .ink{
    font:18px Montserrat, sans-serif;
    margin-left: 15rem;
    margin-right:7rem;
    color:#888888;
  }
  .royal{
    font:18px Montserrat, sans-serif;
    margin-left: 15rem;
    margin-right:7rem;
    color:black;
  }
}
@media (max-width:1000px){
  .image{
    height:100%;
    width:100%;

  }
}
.pro{
  font:20px Montserrat, sans-serif;
  color:black;
  margin-bottom: 5rem;;
  margin-top:5rem ;
  text-align: center;
  font-size: 50px;
  font-weight: 500;
}

 