@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sankofa+Display&display=swap');

.drop{
  margin-top: 5rem;
}


@media only screen and (max-width:600px){
  .action{
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding-left:5.7rem;
    align-items: center;

  }
}
@media (min-width:400px)and (max-width:900px){
  .action{
    padding-left:6.5rem;
    align-items: center;
  }
}
.riwaaz{
font:20px Montserrat, sans-serif;
color:black;
margin-bottom: 5rem;;
margin-top:5rem ;
text-align: center;
font-size: 50px;
font-weight: 800;
}
@media  only screen and (max-width:1000px){
  
    .riwaaz{
       font-size: 40px;
       margin-bottom: 3rem;
       margin-top: 3rem;
       font-weight: 600;
    }
}
.thum{
  margin-top: 5rem;
}
.ink{
  text-decoration: none;
  margin-left: 8rem;
  color:#888888;
  font:15px Montserrat, sans-serif;
}
.royal{
  color:black;
  margin-left: 8rem;
  text-decoration: none;
  font:15px Poppins, sans-serif;
}